/*Fonts*/

@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

/*..............................................General Styles*/

body {
    background-image: url('../img/smoothie-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /*materialize code for sticky footer*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*materialize code for sticky footer*/

main {
    flex: 1 0 auto;
}

/*remove margins to have continuous container throughout page*/

.container .row {
    margin: 0;
}

.home {
    margin-top: 50px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    color: #fff;
    font-size: 96px;
}

h3 {
    color: #fff;
    background: rgba(94, 133, 165, 0.8);
    font-family: 'Amatic SC', cursive;
    padding: 10px;
}

h6 {
    font-family: 'Amatic SC', cursive;
    color: #fff;
}

h5 {
    color: #fff;
    padding: 15px 15px;
    background: #5F85A4;
    opacity: .8;
    font-size: 18px;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

/*.............................................Nav*/

nav {
    background-color: #BA93A4;
}

.dropdown-nested {
    overflow-y: visible;
}

.dropdown-content .dropdown-content {
    margin-left: 100%;

}

.dropdown-content li>a {
    color: #000;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0;
    font-family: 'Amatic SC', cursive;
}


.nav_btns {
    margin: 15px 5px 20px 15px;
}

.nav_btns i {
    margin: 0 5px 10px 0;
}

.nav_btns i:hover {
   background: #5E85A5;
}

/*moves search dropdown off navbar*/

ul#dropdown1.dropdown-content.dropdown-nested.active {
    white-space: nowrap;
    position: absolute;
    left: 387.547px;
    display: block;
    opacity: 1;
    top: 64px !important;
}

/*...........................................Recipe Card Styles*/

.card-img {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.all_recipes_card .card {
    min-height: 620px;
}

#starRating {
    float: right;
    position: relative;
    top: 40px;
    right: -50px;
}

#recipeInfo {
    font-size: 13px;
    font-weight: 900;
    color: #AB778D;
    position: relative;
    top: 25px;
}

.edit {
    position: absolute;
    bottom: 20px;
    left: 24px;
}

.edit_btn {
    background: #5E85A5;
}

#flashMessage {
    background: #EDDDE5;
    padding: 20px;
    color: #FB1842;
    font-size: 15px;
    position: absolute;
    bottom: 50%;
    z-index: 99;
}

.author {
    font-size: 12px;
    color: #F5AA41;
    float: right;

}

/*.................................................Index Page */

.site_description_text {
    background: rgba(255, 255, 255, 0.9);
}

/*.................................................Seasons Page*/

.season_title {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 24px;
    text-shadow: 4px 3px 7px #000;
}

/*................................................Add Recipe Form*/

.add_recipe_form {
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
}

.add_recipe_btn {
    background: #5E85A5;
    margin: 10px 0 20px 20px;
}

.cancel_update {
    background: #AB778D;
    margin: 10px 0 20px 20px;

}

.cancel_btn {
    background: #5E85A5;
    padding: 10px;
}

.recipe_header {
    margin-top: 5px;
}

#signIn {
    background: rgba(255, 255, 255, 0.9);
}

/*styles for the add/remove ingredient/method buttons*/
.add_button i,
.add_method_button i {

    position: relative;
    right: 35px;
    float: right;
    bottom: 58px;
    font-size: 40px;
}

a.remove_button.validate {
    position: relative;
    top: 27px;
    right: 23px;
    color: red;
}

#addForm {
    padding-top: 30px;
}

/*.....................................Edit Recipe Form*/

#editForm {
    padding-top: 30px;
}

.edit_recipe_form {
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
    padding-top: 20px;
}

.chart_container {
    background: rgba(255, 255, 255, 0.9);
    margin: 20px 10px;
}


/*.....................................Footer*/

footer p {
    font-size: 12px;
}

.page-footer {
    background: #BA93A4;
}

.footer_logo,
.footer_links {
    display: inline-block;
}

#footerHeader,
#footerLinks {
    text-align: center;
}

#footerLinks p a {
    padding: 0 10px;
}


/*social media icons*/

.social-links li a i {
    width: 38px;
    height: 38px;
    padding: 12px 0;
    border-radius: 50%;
    border: 1px solid #5E85A5;
    margin: 3px;
    font-size: 22px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
    background: #A9D3EB;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    box-shadow: 0 0 24px 0 #5E85A5;
    color: #5E85A5;
}

.socials {
    margin-bottom: 10px;
    text-align: center;
}

.social-links {
    display: inline-block;
}

.social-links li {
    float: left;
    display: inline-block;
}

/*..................................Media queries*/
@media (min-width: 767px) {

    #starRating {
        float: right;
        position: relative;
        top: 40px;
        right: 10px;
    }
    
    #recipeInfo {
        position: relative;
        top: 0px;
    }
}

@media (min-width: 992px) {
    h1 {
        color: #000;
    }

    
    #footerLinks p {
        margin-top: 35px;
    }

    #footerHeader p {
        margin-top: 28px;
    }
    
    .chart_container {
        position: relative;
        height: 75vh;
        width: 80vw;
        margin: 20px auto;
    }
    
}


