<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seasonal Smoothies</title>
    <!--Materialize css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <!--Custom css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    
    <header>

        <!--Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content dropdown-nested">
            <li><a class="dropdown-trigger" href="#!" data-activates="dropdown2" data-hover="hover" data-alignment="left">Dietary Requirement<i class="material-icons right"> arrow_forward</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-activates="dropdown3" data-hover="hover" data-alignment="left">Difficulty<i class="material-icons right"> arrow_forward</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-activates="dropdown4" data-hover="hover" data-alignment="left">By popularity<i class="material-icons right"> arrow_forward</i></a></li>
        </ul>

        <ul class="dropdown-content dropdown-nested" id="dropdown3">
            <li><a href="{{url_for('search_easypeas')}}">Easy Peas</a></li>
            <li><a href="{{url_for('search_someeffort')}}">Some Effort</a></li>
            <li><a href="{{url_for('search_worthfaff')}}">Worth all the Faff</a></li>
        </ul>

        <ul class="dropdown-content dropdown-nested" id="dropdown2">
            <li><a href="{{url_for('search_dairyfree')}}">Dairy-Free</a></li>
            <li><a href="{{url_for('search_glutenfree')}}">Gluten-Free</a></li>
            <li><a href="{{url_for('search_nutfree')}}">Nut-Free</a></li>
            <li><a href="{{url_for('search_vegan')}}">Vegan</a></li>
        </ul>
        <ul class="dropdown-content dropdown-nested" id="dropdown4">
            <li><a href="{{url_for('search_popular')}}">Show Most Popular</a></li>
            <li><a href="{{url_for('search_leastpopular')}}">Show Least Popular</a></li>
        </ul>

        <!--Nav content-->
        <div class="navbar-fixed">
            <nav>
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="{{url_for('get_seasons')}}" class="brand-logo">Seasonal Smoothies</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a class="dropdown-trigger" href="#!" data-activates="dropdown1">Search<i class="material-icons right">arrow_drop_down</i></a></li>
                            <li><a href="{{url_for('pie_chart')}}">Stats</a></li>
                            <li><a href="{{url_for('get_recipes')}}">View all Recipes</a></li>
                            <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                            <li><a href="{{url_for('index')}}">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!--Side nav-->
        <ul class="side-nav" id="mobile-demo">
            <li>
                <div class="row">
                    <div class="col s12">
                        <img src="../static/img/all-recipe.jpg" alt="recipe image" class="responsive-img valign">
                    </div>
                </div>
            </li>
            <li><a href="{{url_for('get_seasons')}}">Seasons</a></li>
            <li><a href="{{url_for('get_recipes')}}">View all Recipes</a></li>
            <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
            <li><a href="{{url_for('pie_chart')}}">Stats</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li class="sidenav-header">
                <li class="white">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header waves-effect waves-blue ">Search by Dietary Requirement <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i></a>
                            <div class="collapsible-body z-depth-3">
                                <ul>
                                    <li><a href="{{url_for('search_dairyfree')}}">Dairy-Free</a></li>
                                    <li><a href="{{url_for('search_glutenfree')}}">Gluten-Free</a></li>
                                    <li><a href="{{url_for('search_nutfree')}}">Nut-Free</a></li>
                                    <li><a href="{{url_for('search_vegan')}}">Vegan</a></li>
                                    <li>
                                        <div class="divider"></div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="white">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header waves-effect waves-blue">Search by Difficulty <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="{{url_for('search_easypeas')}}">Easy Peas</a></li>
                                    <li><a href="{{url_for('search_someeffort')}}">Some Effort</a></li>
                                    <li><a href="{{url_for('search_worthfaff')}}">Worth all the Faff</a></li>
                                    <li>
                                        <div class="divider"></div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="white">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header waves-effect waves-blue">Search by Popularity <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="{{url_for('search_popular')}}">Show Most Popular</a></li>
                                    <li><a href="{{url_for('search_leastpopular')}}">Show Least Popular</a></li>
                                    <li>
                                        <div class="divider"></div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </li>
        </ul>
        
    </header>

    <!--Main Article -->

    <main>
        <!--linked content inserted here-->
        <div class="container">
            {% block content %} {% endblock %}
        </div>
        
        <!--Display flask flash messages -->
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div  class="row ">
            <div class="wrapper col s10 m4 offset-m4">   
                <div id="flashMessage" class="">
                    <p class="message">{{ message }}</p>
                    <input class="btn waves-effect waves-light add_recipe_btn" type="button" name="OK" value="OK" onClick="window.location.href='{{url_for('get_recipes')}}';" />	
                </div>
            </div> 
        </div>
        {% endfor %} {% endif %} {% endwith %}
    </main>

    <!--Footer-->

    <footer class="page-footer">
        <div class="row">
            <div id="footerHeader" class="col s12 l4">
                <h6 class="white-text footer_logo">Seasonal Smoothies</h6>
                <p>© 2019 Heather Caputo</p>
            </div>
            <div class="socials col s12 l4">
                <h6>Stay Connected</h6>
                <ul class="list-inline social-links">
                    <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
            <div id="footerLinks" class="col s12 l4">
                <h6>Navigate</h6>
                <p><a class="grey-text text-lighten-3" href="{{url_for('get_seasons')}}">Seasons</a>
                <a class="grey-text text-lighten-3" href="{{url_for('get_recipes')}}"> All Recipes</a>
                <a class="grey-text text-lighten-3" href="{{url_for('add_recipe')}}"> Add Recipe</a>
                <a class="grey-text text-lighten-3" href="{{url_for('pie_chart')}}"> Stats</a></p>
            </div>
        </div>
    </footer>
    
    <!--Materialize JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!--Charts JS-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!--custom JS-->
    <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chart.js')}}"></script>
    <script>
        // Materialize Navigation
        $(document).ready(function() {
            $(".dropdown-trigger").dropdown({ constrainWidth: false });
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.button-collapse').sideNav();
        });
    </script>
</body>

</html>