<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="{{url_for('get_recipes')}}" class="brand-logo"></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{url_for('get_seasons')}}">Seasons</a></li>
                        <li><a href="{{url_for('get_recipes')}}">View all Recipes</a></li>
                        <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                        <li><a href="#" data-target="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a></li>
                        <li><a href="{{url_for('search')}}">Search</a></li>
                    </ul>
                </div>
                <div class="">
                  <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="large material-icons">search</i></a>
                  <ul class="side-nav" id="mobile-demo">
                    <li class="sidenav-header">
                      <div class="row">
                        <div class="col s12">
                            <img src="../static/img/all-recipe.jpg" alt="recipe image" class="responsive-img valign profile-image">
                            <a class="btn-flat dropdown-button waves-effect waves-light" href="#" >Search Recipes By...<i class="mdi-navigation-arrow-drop-down right"></i></a>
                        </div>
                      </div>
                    </li>
                    
                    <li class="white">
                      <ul class="collapsible collapsible-accordion">
                          <li>
                            <a class="collapsible-header waves-effect waves-blue ">Search by Dietary Requirement <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i></a>
                            <div class="collapsible-body z-depth-3">
                              <ul>
                                <li><a href="{{url_for('search_dairyfree')}}">Dairy-Free</a></li>
                                <li><a href="{{url_for('search_glutenfree')}}">Gluten-Free</a></li>
                                <li><a href="{{url_for('search_nutfree')}}">Nut-Free</a></li>
                                <li><a href="{{url_for('search_vegan')}}">Vegan</a></li>
             
                                <li><div class="divider"></div></li>
                              </ul>
                            </div>
                          </li>
                      </ul>
                    </li>
        
                    <li class="white">
                      <ul class="collapsible collapsible-accordion">
                        <li>
                          <a class="collapsible-header waves-effect waves-blue">Difficulty <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i></a>
                          <div class="collapsible-body">
                            <ul>
                              <li><a href="{{url_for('search_easypeas')}}">Easy Peas</a></li>
                                <li><a href="{{url_for('search_someeffort')}}">Some Effort</a></li>
                                <li><a href="{{url_for('search_worthfaff')}}">Worth all the Faff</a></li>
                              <li><div class="divider"></div></li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
            </div>
        </nav>
    </header> 



    
    
    </div>
    <div class="container">
        {% block content %} 
  
        {% endblock %}
      </div>
    <footer></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, options);
            var collapsibleElem = document.querySelector('.collapsible');
            var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);
          });


        $(document).ready(function() {
            
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.button-collapse').sideNav();
        });
        
        $(document).ready(function() {
       
            var maxField = 10; //Input fields increment limitation
            var addButton = $('.add_button'); //Add button selector
            var addMethod = $('.add_method_button');
            var wrapper = $('.field_wrapper'); //Input field wrapper
            var insert_field = $('.method_field');
            var fieldHTML = '<div class="row"><div class="input-field field_wrapper col s12"><i class="material-icons prefix">local_grocery_store</i><input type="text" name="ingredients" value="" required/></div><a href="javascript:void(0);" class="remove_button validate"><i class="material-icons prefix">clear</i></a></div>'; //New input field html 
            var methodHTML = '<div class="row"><div class="input-field method_field col s12"><i class="material-icons prefix">description</i><input name="method" id="method" type="text" class="validate" required/><label for="icon_prefix">Method</label></div><a href="javascript:void(0);" class="remove_button validate"><i class="material-icons prefix">clear</i></a></div>';
            var x = 1; //Initial field counter is 1
    
            //Once add button is clicked
            $(addButton).click(function(){
                //Check maximum number of input fields
                if(x < maxField){ 
                    x++; //Increment field counter
                    $(wrapper).append(fieldHTML); //Add field html
                }
            });
            $(addMethod).click(function(){
                if(x < maxField){
                    x++;
                    $(insert_field).append(methodHTML);
                }
            });

            //Once remove button is clicked
            $(wrapper).on('click', '.remove_button', function(e){
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
    });
            $(insert_field).on('click', '.remove_button', function(e){
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
    });
});
    </script>
</body>


</html>