{% extends 'base.html'%} {% block content %}
<h3>Search by...</h3>
    <ul id="slide-out" class="sidenav">
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Dietary Requirements<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="{{url_for('search_dairyfree')}}">Dairy-Free</a></li>
                <li><a href="{{url_for('search_glutenfree')}}">Gluten-Free</a></li>
                <li><a href="{{url_for('search_nutfree')}}">Nut-Free</a></li>
                <li><a href="{{url_for('search_vegan')}}">Vegan</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <ul id="slide-out" class="sidenav">
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Difficulty<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="{{url_for('search_easypeas')}}">Easy Peas</a></li>
                <li><a href="{{url_for('search_someeffort')}}">Some Effort</a></li>
                <li><a href="{{url_for('search_worthfaff')}}">Worth all the Faff</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
</div>
{% endblock %}
